
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    width: 94%;
    margin: 3%;
    text-align: center;
}

p {
    font-size: 250%;
}

header {
    margin-top: 5%;
    font-size: 475%;
    font-weight: 800;
    font-family: "Open Sans";
}

nav {
    margin-top: 5%;
    font-size: 250%;
    font-family: "Open Sans";
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    max-width: 400%;
    display: flex;
    justify-content: space-around;
}

img {
    max-width: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #2171b5;
}

a:active {
    color: grey;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.resumebutton{
  background-color: #008CBA; 
  color: white; 
  border: 2px solid #008CBA;
  opacity: 0.8;
  border-radius: 4px;
}

.icons {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 50px;
    display: flex;
    justify-content: space-around;
}
